/* Первичный цвет текста #757575 */
/* Цвет заголовков и ссылок #212121 */
/* Цвет фона, h1, лого и адрес в футере #FFFFFF */
/* Акцент #2196F3 */
/* Контакты в футере #FFFFFF, 60 % */
/* Вторичный цвет фона #F5F4FA */
/* Цвет футера #2F303A */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-bg-color: #fff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --footer-bg-color: #2f303a;
}

body {
  background-color: #fff;
  color: var(--primary-text-color);
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 14px;
  line-height: 1.72;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

button {
  padding: 0;
  border: none;
  border-radius: 4px;
}

/* ================ Header ================ */

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, 'Segoe UI', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  margin-right: 93px;
}

.studio {
  color: #000;
}

.nav-section {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.header-contacts.list {
  display: flex;
}

.header-contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  fill: #757575;
}

.header-contacts .link:hover {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.icon-contacts {
  margin-right: 10px;
}

.icon-contacts:hover {
  color: var(--accent-color);
}

.page-header {
  background-color: var(--primary-bg-color);
  border-bottom: 1px solid #ececec;
  -webkit-sticky: sticky;
  position: sticky;
  top: 0;
}

/* ================= Footer ================= */

footer {
  background: var(--footer-bg-color);
  padding: 60px 0;
}

footer .logo {
  display: inline-block;
  color: var(--accent-color);
}

footer .studio {
  color: var(--primary-bg-color);
}

address .location {
  color: var(--primary-bg-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin: 20px 0 0;
}

footer .link {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  display: inline-block;
  margin-top: 9px;
}

/* ========= Social links ========= */

footer .container {
  display: flex;
}

.adress-wrapper {
  width: 231px;
  margin-right: 70px;
}

.foter-cta {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 10px 0 0;
  color: var(--primary-bg-color);
}

.footer-social.list {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin-top: 20px;
  padding: 0;
}

.footer-social-links {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
}

.footer-social-items:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
}

.footer-social-icon:hover,
.social-icon:focus {
  fill: #fff;
}
